{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Красивые цветы с доставкой</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    {% block title %}

    {% endblock %}

</head>
<body>
        <div class="container-fluid">
        <div class="row">
            <aside class="col-md-3 bg-light p-4">
                <div class="text-center mb-4">
                    <img src="{% static 'img/logo.jpg' %}" alt="Красивые цветы с доставкой" class="img-fluid rounded mb-2" width="300">
                    <h5 class="font-weight-bold">Красивые цветы с доставкой</h5>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalog' %}">Каталог цветов</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                    </li>
                </ul>
            </aside>

            <main class="col-md-9 p-4">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>

    <!-- Подключение Bootstrap JS и зависимостей -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>